*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font: 15px "Nunito Sans", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 2.2;
  background: rgb(255, 255, 255);
  color: black;
}

p {
  margin: 12px 0;
}

b {
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 60px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

li > a,
a {
  font-weight: 600;
  text-transform: lowercase;
  transition: 300ms ease-in-out;
  opacity: 90%;
  color: #e43d45;
  text-decoration: none;
}

a:hover {
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-icon,
#mobile-menu {
  display: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 1em;
}

.btn {
  font: 15px "Nunito Sans", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  background: #e43d45;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 0;
  height: 45px;
  line-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  position: relative;
  top: 0;
  width: 80%;
}

.btn:hover {
  top: 1px;
  box-shadow: none;
}

.btn > a {
  color: white;
}

.explore {
  width: 15em;
  font-weight: 200;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0 0 0;
}

.wrapper {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.small-wrapper {
  max-width: 30vw;
  margin: 2em;
  padding: 2em;
  /* border: 2px solid #ffffff; */
  border-radius: 15px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home {
  background-image: linear-gradient(to right, #e43d45cc, #fff1f2ef),
    url("../assets/images/d20.jpg");
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  text-align: center;
  padding-top: 1em;
  min-height: 100vh;
}

.main-heading {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 14px;
}

.subheading {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 1em;
  color: white;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 0;
  color: white;
}

h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
}

h3 {
  font-weight: 400;
  font-size: 1.7rem;
  color: #e43d45;
  margin: 0;
}

h4 {
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.accent {
  opacity: 1;
  color: #e43d45;
  font-weight: 600;
}

span {
  opacity: 0;
  transition: all 4s ease;
}

span.fade {
  opacity: 1;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-20%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

#work {
  margin: 2em 0;
}

.project-element {
  align-items: center;
  justify-content: center;
  margin: 4em auto;
}

.project-info {
  width: 40%;
}

.mockups {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.mockup {
  position: relative;
  top: 0;
  transition: 600ms ease-out;
}

.mockup:hover {
  top: -20px;
}

#npcgen-tablet {
  width: 80%;
}

#npcgen-mobile {
  width: 25%;
  margin-right: -80px;
  z-index: 2;
}

#jobseekr-tablet {
  max-width: 65%;
  max-height: 40em;
}

#jobseekr-mobile {
  width: 30%;
  max-height: 50em;
  margin-right: -100px;
  z-index: 2;
}

#gitfunded-mobile {
  width: 20%;
  margin-left: -120px;
}

#gitfunded-tablet {
  width: 50%;
}

#gitfunded-desktop {
  width: 60%;
  margin-left: -40px;
}

#ledgerly-tablet {
  width: 75%;
  margin-top: 100px;
  z-index: 2;
}

#ledgerly-tablet2 {
  width: 50%;
  margin-left: -150px;
  margin-top: -200px;
}

.row,
.row-reverse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.row-reverse {
  flex-direction: row-reverse;
}

#about {
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.headshot-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headshot {
  max-height: 10em;
  border-radius: 50%;
  margin: 1em;
}

#education > p {
  font-size: 14px;
}

.skills-section > .skills {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.skills {
  max-width: 80%;
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.skill {
  height: 22px;
  line-height: 22px;
  border-radius: 8px;
  padding: 0 8px;
  margin: 5px 8px 5px 0;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  top: 0;
  transition: 50ms ease-out;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill:hover {
  top: -2px;
}

.language {
  background: #ffeeef;
  color: #e43d45;
}

.library-framework {
  background: #e8f8ff;
  color: #2da3da;
}

.database {
  background: #f0edff;
  color: #7056e0;
}

.other {
  background: #e2ffdf;
  color: #2e9450;
}

.design {
  background: #ffe3fb;
  color: #bb46ab;
}

#contact {
  background-image: linear-gradient(to right, #e43d45cc, #ffffff),
    url("../assets/images/sphere.jpg");
  background-position: top;
  background-size: cover;
  text-align: center;
  margin: 4em 0 0 0;
  justify-content: space-evenly;
  position: relative;
}

#contact > .small-wrapper {
  margin-bottom: 3em;
}

#contact > .small-wrapper > p {
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

.form-row {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 10px;
  width: 100%;
}

.form-element {
  width: 50%;
}

label {
  text-align: left;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 1px;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-family: "Nunito Sans", "Open Sans", Helvetica, Arial, sans-serif;
  width: 100%;
}

textarea {
  resize: none;
}

footer {
  position: absolute;
  bottom: 5px;
}

footer > p > a {
  color: #e43d45;
  font-size: 14px;
  font-weight: 700;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e43d45;
}

::-webkit-scrollbar-thumb:hover {
  background: #c41d25;
}

/* media queries */

@media only screen and (max-width: 1400px) {
  .subheading {
    font-size: 2.4rem;
  }

  .wrapper {
    margin-left: 0;
    margin-right: 0;
    width: 90vw;
  }

  .small-wrapper {
    min-width: 40vw;
    padding: 1em;
    margin: 0;
  }

  #about.row {
    padding: 0 2em;
    margin: 0;
    gap: 2em;
  }

  .project-element {
    display: flex;
    gap: 1em;
    margin: 3em 1em;
  }

  #jobseekr-mobile {
    margin-right: -20px;
  }

  #npcgen-tablet {
    width: 90%;
  }

  #npcgen-mobile {
    margin-right: -80px;
    z-index: 1;
    width: 30%;
  }

  #ledgerly-tablet2 {
    margin-left: -200px;
    margin-top: -200px;
    width: 60%;
  }

  .project-element {
    gap: 3em;
  }

  #about {
    gap: 0;
  }

  .project-info,
  .mockups {
    width: 40vw;
  }
}

@media only screen and (max-width: 1100px) {
  .main-heading {
    font-size: 3.6rem;
  }
  .subheading {
    font-size: 1.7rem;
  }
  nav {
    justify-content: center;
  }

  .row,
  .row-reverse {
    flex-direction: column;
  }

  .project-info,
  .mockups {
    width: 65vw;
  }

  .small-wrapper {
    min-width: 70vw;
  }

  .small-wrapper > .row {
    flex-direction: row;
  }

  .skills-edu {
    flex-direction: row;
  }

  .skills-section {
    width: 50%;
    margin: 0;
  }

  .skills {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  nav {
    justify-content: right;
  }

  .project-info,
  .mockups {
    width: 85vw;
  }

  .small-wrapper {
    min-width: 85vw;
  }

  #about.row {
    padding: 0;
  }

  .skills-edu {
    flex-direction: column;
  }

  .skills-section {
    width: 100%;
  }

  .skills {
    width: 100%;
  }

  /* hamburger styles */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
  }

  #nav-icon {
    top: 10px;
    right: 0px;
    margin: 0;
    display: block;
    width: 28px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #e43d45;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    right: 13px;
  }

  #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    right: 12px;
  }

  .main-heading {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .subheading {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem 0;
  }

  #primary-nav {
    display: none;
  }

  #mobile-menu {
    z-index: 3;
    position: fixed;
    inset: 20% 10%;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: rgb(255, 255, 255);
    height: 60vh;
    font-size: 1.4rem;
    font-weight: 100;
    padding: 0;
    margin: 0;
  }

  #ledgerly-tablet2 {
    width: 80%;
    margin-top: -80px;
  }
}

@media only screen and (max-width: 535px) {
  .small-wrapper > .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 450px) {
  .project-info,
  .mockups {
    width: 90vw;
  }

  .small-wrapper {
    min-width: 92vw;
  }

  #contact > .small-wrapper > p {
    font-size: 12px;
  }

  #home {
    align-items: center;
    text-align: left;
    padding: 0;
  }

  .main-heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.5rem;
    margin: 0;
  }

  .explore {
    margin-top: 3em;
  }
}
