*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Tajawal", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  background: rgb(255, 255, 255);
  color: black;
}

p {
  margin: 12px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav > a {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #e43d45e5;
  letter-spacing: -2px;
}

nav > a:hover {
  color: #e43d45;
}

#nav-icon,
#mobile-menu {
  display: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 1em;
}

a {
  text-decoration: none;
  color: #e43d45;
  font-weight: 500;
}

a:hover {
  color: black;
}

.btn {
  font: 15px "Tajawal", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background: #e43d45;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 0;
  height: 45px;
  line-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  position: relative;
  top: 0;
  width: 80%;
}

.btn:hover {
  top: 1px;
  box-shadow: none;
}

.btn > a {
  color: white;
}

.explore {
  width: 15em;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0 0 0;
}

.wrapper {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.small-wrapper {
  max-width: 30vw;
  margin: 2em;
  padding: 2em;
  border: 2px solid #e43d45;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.877);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home {
  background-image: linear-gradient(to right, #e43d45cc, #fff1f2ef),
    url("../assets/images/d20.jpg");
  background-position: bottom;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  text-align: center;
  padding-top: 1em;
  margin-bottom: 2em;
}

.subheading {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 1em;
  color: white;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 0;
  color: white;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0.5rem 0;
  line-height: 2;
}

h3 {
  font-size: 2rem;
  color: #e43d45;
  margin: 0;
}

h4 {
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.accent {
  opacity: 1;
  color: #e43d45;
  font-weight: 600;
}

span {
  opacity: 0;
  transition: all 4s ease;
}

span.fade {
  opacity: 1;
}

.hidden {
  opacity: 0;
  transition: all 2.5s;
  filter: blur(5px);
  transform: translateX(-40%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.project-element {
  align-items: center;
  justify-content: center;
  margin: 4em auto;
}

.project-info {
  width: 30%;
}

.project-info > p {
  text-align: justify;
}

.mockups {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.mockup {
  position: relative;
  top: 0;
  transition: 600ms ease-out;
}

.mockup:hover {
  top: -20px;
}

#npcgen-tablet {
  width: 60%;
}

#npcgen-mobile {
  width: 20%;
}

#jobseekr-tablet {
  max-width: 65%;
  max-height: 40em;
}

#jobseekr-mobile {
  width: 20%;
  max-height: 44em;
}

#gitfunded-mobile {
  width: 20%;
  margin-left: -120px;
}

#gitfunded-tablet {
  width: 50%;
}

#gitfunded-desktop {
  width: 60%;
  margin-left: -40px;
}

.row,
.row-reverse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.row-reverse {
  flex-direction: row-reverse;
}

#about {
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.headshot-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headshot {
  max-height: 10em;
  border-radius: 50%;
  margin: 1em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.skill {
  height: 22px;
  line-height: 22px;
  border-radius: 8px;
  padding: 0 8px;
  margin: 5px 8px 5px 0;
  font-weight: 500;
  position: relative;
  top: 0;
  transition: 50ms ease-out;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill:hover {
  top: -2px;
}

.language {
  background: #ffeeef;
  color: #e43d45;
}

.library-framework {
  background: #e8f8ff;
  color: #2da3da;
}

.database {
  background: #f0edff;
  color: #7056e0;
}

.other {
  background: #e2ffdf;
  color: #2e9450;
}

.design {
  background: #ffe3fb;
  color: #bb46ab;
}

#contact {
  background-image: linear-gradient(to right, #e43d45cc, #ffffff),
    url("../assets/images/sphere.jpg");
  background-position: top;
  background-size: cover;
  text-align: center;
  margin: 4em 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

label {
  text-align: left;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-family: "Tajawal", Helvetica, Arial, sans-serif;
}

textarea {
  resize: none;
}

footer > p > a {
  margin-top: 2em;
  color: white;
  font-size: 15px;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e43d45;
}

::-webkit-scrollbar-thumb:hover {
  background: #c41d25;
}

/* media queries */

@media only screen and (max-width: 1400px) {
  .row,
  .row-reverse {
    flex-direction: column;
  }

  .wrapper {
    margin-left: 0;
    margin-right: 0;
    max-width: 90%;
  }

  .small-wrapper {
    max-width: 60vw;
    padding: 1em;
    margin: 1em 0;
  }

  .project-element {
    display: flex;
    gap: 1em;
    margin: 3em 0;
  }

  #jobseekr-mobile {
    margin-right: -80px;
    z-index: 1;
    width: 30%;
  }

  #npcgen-tablet {
    width: 90%;
  }

  #npcgen-mobile {
    margin-right: -80px;
    z-index: 1;
    width: 30%;
  }

  .project-info,
  .mockups {
    width: 80vw;
  }

  .main-heading {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .small-wrapper {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 770px) {
  .small-wrapper {
    max-width: 80vw;
  }

  /* hamburger styles */
  #nav-icon {
    top: 0;
    right: 0;
    margin: 0;
    display: block;
    width: 35px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
    top: 0px;
    right: 13px;
  }

  #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
    top: 23px;
    right: 12px;
  }

  .main-heading {
    font-size: 4rem;
  }

  .subheading {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem 0;
  }

  #primary-nav {
    display: none;
  }

  #mobile-menu {
    z-index: 3;
    position: fixed;
    inset: 8% 8%;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: rgba(255, 255, 255, 0.493);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    height: 70%;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  .project-info,
  .mockups {
    width: 87vw;
  }
}

@media only screen and (max-width: 450px) {
  .small-wrapper {
    max-width: 95vw;
  }

  .main-heading {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .skill {
    font-size: 14px;
  }
}
