*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Tajawal", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  background: rgb(255, 255, 255);
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.hamburger {
  position: absolute;
  right: 1em;
}

.mobile-nav-exit,
.hamburger,
.hamburger::before,
#mobile-menu {
  display: none;
}

ul {
  margin: 0;
  list-style: none;
}

nav > a {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #e43d45e5;
  letter-spacing: -2px;
}

nav > a:hover {
  color: #e43d45;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

a {
  text-decoration: none;
  color: #e43d45;
  font-weight: 500;
}

a:hover {
  color: black;
}

button {
  font: 16px "Tajawal", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background: #ffffffad;
  color: #e43d45;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 6px 18px;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 38px;
  letter-spacing: 2px;
  margin-top: 2em;
}

button:hover {
  background: rgba(255, 255, 255, 0.856);
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 0 0;
}

.wrapper {
  max-width: 80%;
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-wrapper {
  width: 40em;
  margin-inline: auto;
  border: 2px solid #e43d45;
  border-radius: 15px;
  padding: 2em;
  background: rgba(255, 255, 255, 0.877);
  display: flex;
  flex-direction: column;
}

#home {
  background-image: linear-gradient(
      to right,
      rgba(216, 25, 0, 0.726),
      rgba(245, 144, 152, 0.774)
    ),
    url("../assets/images/d20.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 20%, 100% 95%, 0 85%);
  text-align: center;
  padding-top: 7em;
  margin-bottom: 2em;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  color: white;
}

h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 0;
  color: #ffffff;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  color: #e43d45;
}

.accent {
  opacity: 1;
  color: #e43d45;
  font-weight: 600;
}

span {
  opacity: 0;
  transition: all 4s ease;
}

span.fade {
  opacity: 1;
}

.hidden {
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
  transform: translateY(30%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.mockup {
  max-width: 50%;
}

.project-element {
  align-items: center;
  justify-content: center;
  margin: 4em 0 4em 0;
}

.row,
.row-reverse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify {
  text-align: left;
}

#headshot {
  max-height: 10em;
  border-radius: 50%;
  margin: 2em;
}

.skills {
  display: flex;
}

#contact {
  background-image: linear-gradient(
      to right,
      rgba(255, 39, 10, 0.671),
      rgba(245, 144, 153, 0.603)
    ),
    url("../assets/images/sphere.jpg");
  background-position: top;
  background-size: cover;
  text-align: center;
  margin: 4em 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

label {
  text-align: left;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-family: "Tajawal", Helvetica, Arial, sans-serif;
}

textarea {
  resize: none;
}

button > a,
button > a:hover {
  color: white;
  font-size: 1rem;
}

.submit {
  margin: 1.5em 0 1.5em 0;
  background-color: #e43d45;
  color: white;
}

.submit:hover {
  background-color: #c41d25;
}

footer > p > a {
  margin-top: 2em;
  color: white;
  font-size: 15px;
}

@media only screen and (max-width: 1400px) {
  #mobile-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .row,
  .row-reverse {
    flex-direction: column;
  }

  .wrapper {
    margin-left: 0;
    margin-right: 0;
    max-width: 90%;
  }

  .small-wrapper {
    max-width: 90%;
    padding: 2em;
  }

  .mockup {
    max-width: 90%;
  }

  #meghan {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 770px) {
  #meghan {
    font-size: 3rem;
  }

  .title {
    font-size: 0.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .hamburger::before,
  .hamburger {
    display: block;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem 0;
  }

  #primary-nav {
    display: none;
  }

  #mobile-menu {
    z-index: 8000;
    position: fixed;
    inset: 0 0 40% 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.849);
    backdrop-filter: blur(1rem);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0;
  }

  .hamburger {
    color: #e43d45;
  }

  .mobile-nav-exit,
  .mobile-nav-exit::before {
    display: block;
    padding: 0;
    border: none;
    background: none;
    color: #e43d45;
    padding: 1rem 0;
  }

  .mobile-nav-exit:hover {
    color: #c41d25;
  }

  .title {
    font-size: 1.5rem;
  }

  .wrapper {
    padding: 0;
  }

  .mockup {
    max-width: 100%;
  }
}
